# Core Libraries
plotly==5.17.0  
pandas==2.1.0  
streamlit==1.27.2  
PyYAML==6.0.1

# AWS SDK
boto3==1.28.68
botocore==1.31.68

# PostgreSQL Driver
# Switching back to psycopg2 for production use
psycopg2==2.9.1

# Custom Streamlit Components
# Commenting out streamlit-star-rating to test if it's causing issues
# streamlit-star-rating
